@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "null";
body {
	line-height: 1;
	color: #fff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}
.wrapper {
	min-height: 100%;
	padding: 0px 0px;
	overflow: hidden;
}
._ibg {
	position: relative;
	img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
[class*="__container"] {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}
/* ----------------------------------------------------- */

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
//@media (max-width: 1050px) {
//}
/* Условные планшеты */
//@media (max-width: 991.98px) {
//}
/* Условные мобилки */
//@media (max-width: 767.98px) {
//}

/* №1 */
@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
